body{
  font-family: sst,helvetica,arial,sans-serif;
}
.sony{
  background-color: #000;
}
.sony img{
  width: 12%;
  padding: 10px;
}
.access{
  border-radius: 20px;
}
.nav-item img{
  width: 25px;
}
.my_chevron{
  font-size: 10px;
  margin-left: 5px;
}