body{
  font-family: sst,helvetica,arial,sans-serif;
}
.sony{
  background-color: #000;
}
.sony img{
  width: 70px;
  padding: 10px;
}
.my_btn{
  border-radius: 20px;
}
.nav-item img{
  width: 25px;
}
.my_chevron{
  font-size: 10px;
  margin-left: 5px;
}
.jumbotron{
  background-image: url( ../img/jumbo-bg.png);
  background-position: center top;
  padding: 300px 0 50px 0;
}
.container-text{
  width: 60%;
}
.my_thumb img{
  width: 100%;
}
.my_rounded{
  border-radius: 15px;
}
.active{
  padding: 2px;
}
.my_fs{
  font-size: 18px;
}
.my_thumb80 img{
  width: 80%;
}
.it-takes-two{
  background-image: url( ../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.new-releases{
  background-color: rgb(31, 31, 31);
}
.new-releases .my_thumb img{
  margin-bottom: 10px;
}
